:root{
    --fontmain : 'Krub', sans-serif;
    --colorwhite : #ffffff;
    --colorblack : #212121;
    --colorgray : #757575;
    --colormain : #ffc107;
    --colorsecundary : #0097a7;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* global */
html{
    font-size: 62.5%;
}
h1,h2,h3,p,a{
    font-family: var(--fontmain);
}
h1{
    font-size: 3rem;
}
h1 span {
    
    font-size: 1.8rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
p,a{
    font-size: 1.8rem;
}
/* class */
.title-page{
    text-align: center;
}
.title-design{
    text-align: center;
}
.container-nav{
    background-color: var(--colorsecundary);
}
.nav-main{
    display: flex;
    justify-content: space-evenly;
    ;
}
.nav-main a{
    color: var(--colorwhite);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.nav-main a:hover{
    background-color: var(--colormain);
    color: var(--colorblack);
}
.container{
    width: 120rem;
    margin : 0 auto;
}